[View in Colaboratory](https://colab.research.google.com/github/jyeeee95/TIL/blob/master/180703_basketball_test.ipynb)

# 지원자 추가 선발 프로세스

### 기준

- 과업 #1 > 평균 득점이 가장 높은 선수를 선발하고자 합니다.
        : 어떤 선수를 선발해야 하는지, 그 이유는 무엇인지 설명하는 보고서를 작성하세요. 힌트: 자료의 요약 수업 내용을 참고하세요.

- 과업 #2 > 매 경기에서의 기복이 가장 적은 선수를 선발하고자 합니다. 
        : 어떤 선수를 선발해야 하는지, 그 이유는 무엇인지 설명하는 보고서를 작성하세요. 힌트: 자료의 요약 수업 내용을 참고하세요.

#### 과업 #1 수행

선수들의 점수는 다음과 같다.

In [4]:
candidates = {
  'alan': [8, 14, 6, 8, 14, 9, 14, 9, 15, 5],
  'brad': [11, 4, 11, 7, 9, 7, 8, 7, 10, 6],
  'cate': [16, 22, 13, 15, 12, 3, 20, 17, 13, 23],
  'dave': [24, 15, 18, 12, 9, 19, 23, 13, 14, 18],
}

candidates

{'alan': [8, 14, 6, 8, 14, 9, 14, 9, 15, 5],
 'brad': [11, 4, 11, 7, 9, 7, 8, 7, 10, 6],
 'cate': [16, 22, 13, 15, 12, 3, 20, 17, 13, 23],
 'dave': [24, 15, 18, 12, 9, 19, 23, 13, 14, 18]}

평균 득점이 높은 선수를 선발하고자 하므로 네 선수 각각의 평균을 구한다.
네 선수의 평균 점수는 다음과 같다.

In [5]:
def average(name):
  return sum(candidates[name])/len(candidates[name])

points = []

for i in candidates.keys():
  print(i, average(i))
  points.append((i, average(i)))

alan 10.2
brad 8.0
cate 15.4
dave 16.5

평균 점수가 가장 높은 선수는 다음과 같다.

In [6]:
points.sort(key=lambda point: point[1], reverse = True)
points[0]

('dave', 16.5)

따라서 dave를 선발하는 것이 좋다.

#### 과업 #2 수행

선수들의 점수는 다음과 같다.

In [7]:
candidates2 = {
  'alan': [8, 14, 6, 8, 14, 9, 14, 9, 15, 5],
  'brad': [11, 4, 11, 7, 9, 7, 8, 7, 6],
  'cate': [16, 22, 15, 12, 3, 20, 17, 13, 23],
  'dave': [24, 15, 18, 18, 12, 9, 19, 23, 13, 14, 18],
}

candidates2

{'alan': [8, 14, 6, 8, 14, 9, 14, 9, 15, 5],
 'brad': [11, 4, 11, 7, 9, 7, 8, 7, 6],
 'cate': [16, 22, 15, 12, 3, 20, 17, 13, 23],
 'dave': [24, 15, 18, 18, 12, 9, 19, 23, 13, 14, 18]}

v매 경기에서 기복이 가장 적은 선수를 선발하고자 하므로, 네 선수 각각의 표준편차를 구한다. 네 선수의 표준편차는 다음과 같다.

In [8]:
def average2(name):
  return sum(candidates2[name])/len(candidates2[name])

def sd2(name):
  total2 = 0
  for i in candidates2[name]:
    total2 = total2 + (i - average2(name))**2
  return total2/(len(candidates2[name])-1)

sd = []

for i in candidates.keys():
  print(i, sd2(i)**0.5)
  sd.append((i, sd2(i)**0.5))

alan 3.7058512292499457
brad 2.279132388529557
cate 6.082762530298219
dave 4.566677726153386

표준편차가 가장 작은 선수는 다음과 같다.

In [9]:
sd.sort(key=lambda sd: sd[1])
sd[0]

('brad', 2.279132388529557)

따라서 brad를 선발하는 것이 좋다.